@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    :root {
        --primary-color:#9614d0;
        --secondary-color:#11001c;
        --highlight:#ff10f0;
    }

    * {
        text-shadow: 0 0 2rem white;
        @apply border-highlight font-poppins scroll-smooth 
    }

    .nav-item {
        @apply hidden md:text-xl md:inline-flex lg:text-2xl
    }

    .menu-item {
        @apply bg-secondary p-4
    }

    .rain {
        writing-mode: vertical-lr;
        text-orientation: upright;
        @apply absolute text-primary h-16 animate-rain z-40
    }

    .text-effect {
        text-shadow: 0.05em 0 0 red, 
        -0.025em -0.05em 0 green, 
        0.025em 0.05em 0 blue,
        0 0 2rem white;
        @apply animate-flicker
    }

    /* Sections */

    .section {
        @apply relative text-center p-4 bg-secondary 
        border-2 rounded-lg shadow-highlight opacity-0 w-4/5
    }

    .section-title {
        @apply w-full border-primary border-2 rounded-lg 
        mb-4 p-4 shadow-primary select-none text-4xl sm:text-6xl
    }

    .left-slide {
        @apply translate-x-full transition-all duration-500
    }

    .right-slide {
        @apply -translate-x-full transition-all duration-500
    }

    .show {
        @apply translate-x-0 opacity-90
    }

    .section-hash {
        @apply absolute -top-28 h-28
    }

    /* About Me */

    .cover-image {
        @apply hidden
    }

    .shift-image-btn {
        @apply px-2 md:px-4 cursor-pointer max-h-80 flex
        transition-all duration-200 items-center
    }

    .shift-image-btn:hover {
        @apply bg-primary
    }

    /* Experience */

    .exp {
        @apply flex flex-col items-start border-highlight border-2
        p-4 rounded-lg text-left
    }

    .exp-diagram {
        @apply flex justify-between gap-4 mb-4 w-full
    }

    .exp-left {
        @apply flex flex-col items-start
    }

    .exp-right {
        @apply w-80 flex-col gap-4 text-left text-sm 
        border-primary shadow-primary border-2 p-4 rounded-lg hidden lg:flex
    }

    .exp-image {
        @apply w-72
    }

    .exp-title {
        @apply text-xl
    }

    .exp-time {
        @apply italic
    }

    .exp-mobile-desc {
        @apply text-base mt-4 flex flex-col gap-2 lg:hidden
    }

    .exp-pos {
        @apply text-xl underline
    }

    .connector {
        @apply flex-1 items-center hidden relative lg:flex mx-4
    }

    .connector-circle {
        @apply rounded-full h-6 w-6 bg-highlight shadow-highlight
        absolute 
    }

    .circle-left {
        @apply left-0 -translate-x-1/2
    }

    .circle-right {
        @apply right-0 translate-x-1/2
    }

    .connector-rect {
        @apply h-2 bg-highlight shadow-highlight flex-1
    }

    /* Projects */

    .project {
        @apply flex flex-col items-center text-2xl 
        border-2 rounded-lg relative z-10 overflow-hidden
    }

    .project:hover {
        @apply cursor-pointer border-primary
        transition-all duration-200
    }

    .project-title {
        @apply w-full border-b-2 text-2xl p-4
        transition-all duration-200
    }

    .project-description {
        @apply p-4 absolute bottom-0
        bg-secondary opacity-0 transition-opacity 
        duration-200 border-t-2 border-t-primary
        text-sm sm:text-lg md:text-base lg:text-xl
    }

    .project:hover .project-title {
        @apply bg-primary border-b-primary
    }

    .project:hover .project-description {
        @apply opacity-100
    }

    /* Contact Me */

    .form-area {
        @apply p-2 bg-secondary rounded-lg border-highlight 
        border-2 w-full text-sm sm:text-base md:text-lg
    }
}